.sidebar-container {
  height: 100vh;
  width: 350px;
  border-right: 1px solid lightgrey;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  z-index: 50;
}

::-webkit-scrollbar {
  width: 0px;
}

.sidebar-label {
  height: 90px;
  border-bottom: 1px solid lightgrey;
}